fieldset {
	background-color: #3d1078;
	border: 5px solid black;
	max-width: 500px;
	margin: 20px auto;
	font-family: Tahoma;
	color: plum;
	box-shadow: 5px 5px black;
	border-radius: 25px
}

body {
	background-image: url(gallery/003.jpeg);
}

p {
	font-family: Tahoma;
	color: white;
}

a:hover {
	color: white;
}

a:visited {
	color: plum;
}

a:link {
        color:plum;
}

.bubble {
	background-color: indigo;
	padding: 20px;
	border-radius: 25px;
}

.title-intro {
	font-style: italic;
	padding-top: 40px;
	color: white;
}

.header {
	text-align: center;
	background-color: indigo;
	margin: auto;
	border-radius: 25px;
	border-top: 15px;
	border-bottom: 15px;
	border-color: indigo;
}

.title {
        font-size: 40px;
	padding-top: 0;
}

.subtitle {
	font-style: italic;
	padding-bottom: 40px;
	color: white;
}
